<%= provide(tite: 'Edit Post') %>
  <h1>Edit post</h1>

<%= form_for @post do |f| %>
  
  <p>
  <%= f.label :body %>
  <%= f.text_area :body, value: @post.decrypt %>
  </p>

  <p>
    <%= f.label :private, 'Public', value: false %>
  <%= f.radio_button :private, false, checked: true %>
  </p>

  <p>
    <%= f.label :private, 'Private', value: true %>
  <%= f.radio_button :private, true %>
  </p>

  <%= f.submit 'Save' %>

<% end %>
