<div id="container">
  <div>

  </div>
  
</div>

<h1>Posts</h1>


<p><%= link_to 'Create Post', new_post_path %></p>
<p><%= link_to 'My Posts', user_path(current_user) %></p>

<table>
  <tr>
    <th>Post</th>
    <th>Author</th>
    <th colspan="2"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <% if !post.private? %>
      <td><%= link_to truncate(post.decrypt), post_path(post) %></td>
      <td><%= link_to post.user.username, user_path(post.user) %></td>
      <% end %>
  <% end %>
  </tr>
</table>

<p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>